.categoriesWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.categoryCard {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 330px;
    margin: 10px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: table;
}

.categoryCard:hover {
    cursor: pointer;
}

.categoriesHeader {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 420px;
    margin: 10px;
    padding: 1rem;
    width: 330px;
}

.categoryName {
    text-align: center;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 2rem;

    /* display: table-cell; */
}